{% extends 'base.html' %}
{% load static %}

{% block script %}

<script type="text/javascript">


  var today = new Date();
  var expiry = new Date(today.getTime() + 30 * 24 * 3600 * 1000); // plus 30 days

  function addAmount()
  {
    var userInput = Number(document.getElementById("amount").value) + 1;
    document.cookie=name + "amount=" + escape(userInput) + "; path=/; expires=" + expiry.toGMTString();
  }

  function remAmount()
  {
    if (Number(document.getElementById("amount").value) > 0) {
        var userInput = Number(document.getElementById("amount").value) - 1;
        document.cookie=name + "amount=" + escape(userInput) + "; path=/; expires=" + expiry.toGMTString();
    }
  }

</script>

<script>
        document.cookie = "amount=1; path=/; expires=-1";
</script>



{% endblock script %}

{% block content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Megano Product
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="index.html">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Product</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <div class="Product">
          <div class="ProductCard">
            <div class="ProductCard-look">
              <div class="ProductCard-photo">
                <img src="{{ product.image_url }}" alt="{{ product.name }}"/>
              </div>
              <div class="ProductCard-picts">
                <a class="ProductCard-pict ProductCard-pict_ACTIVE" href="{{ product.image_url }}">
                  <img src="{{ product.image_url }}" alt="{{ product.name }}"/></a>
                {% if product_pictures %}
                {% for picture in product_pictures %}
                  <a class="ProductCard-pict" href="{{ picture.image_url }}">
                    <img src="{{ picture.image_url }}" alt="{{ product.name }}"/></a>
                {% endfor %}
                {% endif %}

              </div>
            </div>
            <div class="ProductCard-desc">
              <div class="ProductCard-header">
                <h2 class="ProductCard-title">{{ product.name }}
                </h2>
                <div class="ProductCard-info">
                  <div class="ProductCard-cost">
                    <div class="ProductCard-price">${{ product.price }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="ProductCard-text">
                {{ product.short_description|safe }}
              </div>
              <div class="ProductCard-cart">
                <div class="ProductCard-cartElement ProductCard-cartElement_amount">
                  <div class="Amount-a Amount_product-a">
                    <button class="Amount-remove-a" type="button" onclick="remAmount()">
                    </button>
                    <input class="Amount-input-a form-input" name="amount" id="amount" type="text" value="1"/>
                    <button class="Amount-add-a" type="button" onclick="addAmount()">
                    </button>
                  </div>
                </div>
                <div class="ProductCard-cartElement"><a class="btn btn_primary" href="{% url 'cook_add' product.slug %}"><img class="btn-icon" src="{% static 'img/icons/card/cart_white.svg' %}" alt="cart_white.svg"/><span class="btn-content">Add To Cart</span></a>
                </div>
              </div>
              <div class="ProductCard-footer">
                <div class="ProductCard-tags">
                  <strong class="ProductCard-tagsTitle">Tags:
                  </strong><a href="#">Accesories</a>,<a href="#">Creative</a>,<a href="#">Design</a>,<a href="#">Gaming</a>
                </div>
              </div>
            </div>
          </div>
          <div class="Tabs Tabs_default">
            <div class="Tabs-links"><a class="Tabs-link_ACTIVE Tabs-link" href="#description"><span>Описание</span></a><a class="Tabs-link" href="#addit"><span>AdditionaL Info</span></a><a class="Tabs-link" href="#reviews"><span>Reviews ({{ feedbacks.length }})</span></a>
            </div>
            <div class="Tabs-wrap">
              <div class="Tabs-block" id="description">
                {{ product.description|safe }}
              </div>
              <div class="Tabs-block" id="sellers">
                <div class="Categories Categories_product">
                </div>
              </div>
              <div class="Tabs-block" id="addit">
                <div class="Product-props">
                  <div class="Product-prop">
                    <strong>Lorem
                    </strong><span> Pfizer</span>
                  </div>
                  <div class="Product-prop">
                    <strong>ipsum
                    </strong><span> Lorem ipsum dolor sit</span>
                  </div>
                  <div class="Product-prop">
                    <strong>dolor sit
                    </strong><span> 5 ans</span>
                  </div>
                  <div class="Product-prop">
                    <strong>psum dolo
                    </strong><span> 2–3 jours</span>
                  </div>
                </div>
              </div>
              <div class="Tabs-block" id="reviews">
                <header class="Section-header">
                  <h3 class="Section-title">{{ feedbacks.length }} Reviews
                  </h3>
                </header>
                <div class="Comments">
                  {% if feedbacks %}
                    {% for feedback in feedbacks %}
                    <div class="Comment">
                      <div class="Comment-column Comment-column_pict">
                        <div class="Comment-avatar">
                        </div>
                      </div>
                      <div class="Comment-column">
                        <header class="Comment-header">
                          <div>
                            <strong class="Comment-title">{{ feedback.name }}
                            </strong><span class="Comment-date">{{ feedback.creation_date|date:"d.m.Y" }}</span>
                          </div>
                        </header>
                        <div class="Comment-content"> {{ feedback.feedback }}
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  {% else %}
                  <p>There are no comments yet</p>
                  {% endif %}
                </div>
                <header class="Section-header Section-header_product">
                  <h3 class="Section-title">Add Review
                  </h3>
                </header>
                <div class="Tabs-addComment">

                  {% if request.user.is_authenticated %}
                  <form class="form" action="#" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <textarea class="form-textarea" name="feedback" id="reedback" placeholder="Review"></textarea>
                    </div>
                    <div class="form-group">
                      <button class="btn btn_muted" type="submit">Submit Review
                      </button>
                    </div>
                  </form>

                  {% else %}

                  <form class="form" action="#" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <textarea class="form-textarea" name="feedback" id="review" placeholder="Review"></textarea>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="row-block">
                          <input class="form-input" id="name" name="name" type="text" placeholder="Name" required/>
                        </div>
                        <div class="row-block">
                          <input class="form-input" id="email" name="email" type="text" placeholder="Email"/>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <button class="btn btn_muted" type="submit">Submit Review
                      </button>
                    </div>
                  </form>

                  {% endif %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}