{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Profile
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="index.html">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Profile</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Navigation
              </strong>
            </header>
            <div class="Section-columnContent">
              <div class="NavigateProfile">
                <ul class="menu menu_vt">
                  <li class="menu-item"><a class="menu-link" href="{% url 'account' %}">Account</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="{% url 'profile' %}">Profile</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="{% url 'history_order' %}">Order history</a>
                  </li>
                  <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="{% url 'change_password' %}">Change password</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="Profile">
            <form class="form Profile-form" action="#" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="row-block">
                  {{form.as_p}}
                  <div class="form-group">
                    <div class="Profile-btn">
                      <button class="btn btn_success" type="submit">Change
                      </button>
                    </div>
                    <div class="Profile-success">
                      {% if messages %}
                        {% for message in messages %}
                          {{ message|safe }}
                        {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}